# Python
__pycache__/
*.pyc

# Notebooks
.ipynb_checkpoints/

# Modelos y salidas
outputs/
*.pth
*.pt
*.ckpt

# Windows
desktop.ini
Thumbs.db

# VS Code history
.history/

# Entornos
.env
.venv/
venv/